.container{
    margin-left: 10%;
    margin-right: 10%;
}
.container-box{
    /* border-width: 0.5px;
    border-color: gray; */
    /* height: 80vh; */
    border: 1px solid rgb(201, 205, 249);
    padding: 10px;
    border-radius: 4px;
}

.dropdown-container{
    background-color: white;
    padding: 5px;
    margin-bottom: 4px;
    border-radius: 2px;
    height: 40px;
    border: none;
    margin:2px;
    width: 30%;
    /* border-width: 1px;
    border-color: rgb(20, 21, 21); */
}

.apply-button{
    background-color: #4b96e6;
    width: 130px;
    height: 35px;
    /* border: none; */
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 13px;
    border-color: #4b96e6;
    border-width: 0.5px;
    margin: 10px;
}

.type-style{
    background-color: #8e97a0;
    font-weight: bold;
    padding:4px;
    border-radius: 4px;
}

.sub-heading{
    width: 80%;
}
.sub-details{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.other-sub-details{
    display: flex;
    justify-content: space-between;
}

.details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.job-details{
    width: 70%;
}
.sub-container{
    width: 30%;
}
.others-container{
    border: 2px solid #cfe1f5;
    background-color: #f4f4f4;
    align-items: center;
    height: 60vh;
    padding: 10px;
    margin-left: 5px;
}

.other-title{
    font-size: 18px;
    font-weight: 800;
}